*{
    margin: 0;
    box-sizing: border-box;
}
h2
{
    text-align: center;
}
h4
{
    text-align: center;
}
h6
{
    text-align: center ;
}

.nav-link:hover{
    font-weight: bold;
}
.nav-link
{
    color: white !important;
    margin-right: 20px;
}

section
{
    height:40rem;
}

.about-2
{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 70px;
}

.RP
{
    background-color:rgb(246, 245, 245);
    
}


.RP-2
{
    margin: 20px;
    margin-bottom: 70px;    
}

.PT
{
    background-color:rgb(246, 245, 245);
}

.footerhead{
    color: white;
    font-size: 17px;
}

.box-icon {
    border-right: 2px solid #ebebeb;
    float: left;
    font-size: 1.4em;
    height: 45px;
    line-height: 40px;
    margin: 0 20px 0 0;
    width: 40px;
  }

  .box-icon i {
    line-height: 45px;
    color: #910052;
  }

  .links{
    text-decoration: none;
    color: white;
  }
  
  .phone{
    margin-top: -3%;
  }

  .mailid{
    margin-top: -3%;
  }
  .phonebox{
    margin-top: 4%;
  }
  @media screen and (max-width: 1200px) {
    .iicaddress{
        font-size: 14.5px;
    }

    .phone, .mailid{
        margin-top: -4%;
    }
  }

    @media screen and (max-width: 990px) {
    .iicaddress {
                font-size: 14px;
        }
      
    .phone, .mailid 
    {
        margin-top: -5%;
    

    }
    .phonebox{
        margin-top: 6.5%;
    }
    }

    @media screen and (max-width: 980px) {
    
      .phone, .mailid 
      {
         margin-top: -6%; 
        }
    
        }