* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.placements-logo {
  width: 350px;
}
h2 {
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}
h4 {
  text-align: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: bolder;
}
h6 {
  text-align: center;
}
p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.nav-link:hover {
  font-weight: bold;
}
.navbar-nav {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.nav-link {
  color: white !important;
  margin-right: 20px;
}

section {
  height: 40rem;
}

.about-2 {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 70px;
}

.RP {
  background-color: rgb(246, 245, 245);
}

.RP-2 {
  margin: 20px;
  margin-bottom: 70px;
}

.PT {
  background-color: rgb(246, 245, 245);
}

.footerhead {
  color: white;
  font-size: 17px;
}

.box-icon {
  border-right: 2px solid #ebebeb;
  float: left;
  font-size: 1.4em;
  height: 45px;
  line-height: 40px;
  margin: 0 20px 0 0;
  width: 40px;
}

.navbar {
  box-shadow: 0 0 5px #333;
}
.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 14.5%;
  right: 14.5%;
  z-index: 20;
  color: white;
}

.tiles {
  background-color: white;
  height: 120px;
  border: white solid 2px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 20px rgb(178, 178, 178);
}

.box-icon i {
  line-height: 45px;
  color: #910052;
}

.links {
  text-decoration: none;
  color: white;
}
.links:hover {
  color: rgb(234, 142, 157);
}

.phone {
  margin-top: -3%;
}

.mailid {
  margin-top: -3%;
}
.phonebox {
  margin-top: 4%;
}

.heads {
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: bolder;
}
@media screen and (max-width: 1200px) {
  .iicaddress {
    font-size: 14.5px;
  }

  .phone,
  .mailid {
    margin-top: -4%;
  }
}

@media screen and (max-width: 990px) {
  .placements-logo {
    width: 250px;
  }

  .custom-footer-placements {
    width: 80%;
  }
  .iicaddress {
    font-size: 11px;
  }

  .phone,
  .mailid {
    margin-top: -5%;
  }
  .phonebox {
    margin-top: 6.5%;
  }
}

@media screen and (max-width: 980px) {
  .phone,
  .mailid {
    margin-top: -6%;
  }
}
